* {
  box-sizing: border-box;
}
:root {
  --text-color: rgb(3, 3, 3);
  --Nav-text-color: #ffff;
  --background-color: rgb(224, 215, 215);
  --nav-background-color: #ff5952;
  --search-bar-background-color: #ffff;
}
.dark {
  --text-color: rgb(255, 251, 251);
  --Nav-text-color: rgb(255, 251, 251);
  --background-color: rgb(82, 80, 80);
  --nav-background-color: #793d3b;
  --search-bar-background-color: rgb(150, 125, 125);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--text-color);
}
body,
.big-list,
.App {
  text-align: center;
  background-color: var(--background-color);
}
.about-page {
  background-color: var(--background-color);
}

nav {
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  /* background-color: var(--first-color); */
  background-color: var(--nav-background-color);
  color: var(--text-color);
}

.Nav-links {
  left: 20px;
  margin: 20px;
  width: 40%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: var(--text-color);
}
.link,
a {
  color: var(--text-color);
  text-decoration: none;
}

.Search-bar {
  top: 559px;
  left: 269px;
  width: 812px;
  height: 63px;
  background: var(--search-bar-background-color) 0% 0% no-repeat padding-box;
  border-radius: 32px;
  opacity: 1;
  border: none;
}

.Search-bar:focus {
  border: none;
}

.restaurantCard {
  display: grid;
}

.map {
  width: 800px;
  height: 500px;
}
.singleRestaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.location-icon {
  font-size: 2rem;
  color: red;
}
