* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

nav {
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(166, 229, 130);
  color: #fff;
}
.Nav-links {
  left: 20px;
  margin: 20px;
  width: 40%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
